<h1>Classifier Results</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for result in image.result_set.all %}
<h2> RESULT {{result.instance}} </h2><br></br>    
    <li> Output is {{result.output}} </li><br></br>
    <li> Probability is {{result.probability}} </li><br></br>
    <li> Result is {{result.result}} </li><br></br>
{% endfor %}
</ul>
{% load static %}
<img src="{% static "outputheatmap.jpg" %}"/>
<img src="{% static "guidedoutput.jpg" %}"/>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="text", name="checker" id="checker">
<label for="Is Correct"> Is Result Expected? </label> 
<input type="submit" value="OK">
</form>
