<h1>Classifier Results</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<ul>
{% for result in image.result_set.all %}
<h2> RESULT {{result.instance}} </h2><br></br>    
    <li> Output is {{result.output}} </li><br></br>
    <li> Probability is {{result.probability}} </li><br></br>
    <li> Result is {{result.result}} </li><br></br>
{% endfor %}
</ul>
{% load static %}
<img src="{% static "outputheatmap.jpg" %}" alt="Heat Map cannot be displayed for this neural net"/><br></br>
<img src="{% static "guidedoutput.jpg" %}" alt="Heat Map cannot be displayed for this neural net"/>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}

<input type="radio" name="reTrain" id="Do" value="Yes" checked>
<label for="Is Correct"> Top Prediction Is Correct </label>
<br></br>
<input type="radio" name="reTrain" id="Do Not" value="No">
<label for="Is not Correct"> Top Prediction Is Not Correct </label> 
<input type="submit" value="OK">
</form>
