<h1>Classifer</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<form  method="post" enctype="multipart/form-data">
{% csrf_token %}
{{model}}
{{model.media}}
<br></br>
{{image}}
<label for="Image to Upload"> Select Image to upload </label>
<br></br>
<input type="text" name="numresults" id="numresults">
<label for="Number of results to display"> Number of top predictions to show </label>
<br></br>
<input type="submit" value="OK">
</form>
