<h1>Classifer</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form  method="post" enctype="multipart/form-data">
{% csrf_token %}
<input type="radio" name="modelSelect" id="pretrained" value="trained" checked>
{{preTrained}}
<br></br>
<input type="radio" name="modelSelect" id="default" value="nottrained">
{{default}}
<br></br>
{{image}}
<label for="Image to Upload"> Select Image to upload </label>
<br></br>
<input type="text" name="numresults" id="numresults">
<label for="Number of results to display"> Number of top predictions to show </label>
<br></br>
<input type="submit" value="OK">
</form>
